@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Borel&family=Fascinate&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-white: #FFFFFF;
    --color-black: #1f1f1f;
    --color-green: #55D940;
   
    --color-red: #FF4548;
    --color-red-light: rgba(255, 69, 72, 0.15);
    --color-red-light-2: rgba(255, 69, 72, 0.3);
    --color-yellow: #FFCC00;
    --color-orange: #FF9900;
    --color-orange-light-2: rgba(255, 153, 0, 0.30);
    --color-orange-light: rgba(255, 153, 0, 0.15);
    --color-grey: #EFEFEF;
    --color-grey-2: #F6F7ED;
    --color-grey-transparent: rgba(245, 245, 245, 0.5);
    --color-transparent: transparent;
    --color-dark-grey: #E0E0E0;
    --color-dark-grey-2: #C1C1C1;
    --color-green-light: rgba(85, 217, 64, 0.2);
    --color-green-light-2: rgba(85, 217, 64, 0.4);
    --color-blue: #4A6EFF;
    --color-green-dark: #1F920D;
    --color-red-dark: #A60000;
    --color-orange-dark: #CE5900;
    --color-purple-transparent: rgba(195, 56, 190, 0.2);
    --color-purple: #8C1488;
    --font-sans: "Montserrat", sans-serif;
    --font-display: "Borel", sans-serif;
    --font-title: "Abril Fatface", cursive;
}

/* src/index.css */
@keyframes slide-up {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}


.striped-background {
    background-image: repeating-linear-gradient(
        45deg,
        #E0E0E0 0,
        #E0E0E0 2px,
        transparent 0,
        transparent 50%
    );
    background-size: 10px 10px;
   
}


.striped-background-danger {
    background-image: repeating-linear-gradient(
        45deg,
        #f80f13 0,
        #f80f13 2px,
        transparent 0,
        transparent 50%
    );
    background-size: 10px 10px;
   
}